.container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    grid-template-rows: repeat(4, 60px);
    padding: 20px;
}

.cell {
    border: 1px solid black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
    grid-column: 1 / span 2;
}

.blue {
    background-color: blue;
}


