body {
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
    font-family: Arial, Helvetica, sans-serif;
}

.general_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(https://i.dlpng.com/static/png/253278_thumb.png);
    background-position: center;
    background-repeat: no-repeat;
    color: yellow;
    width: 400px;
    height: 230px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.info_box {
    color: white;
    width: 570px;
    height: 270px;
    border: solid yellow 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
}

#button {
    padding: 7px 25px;
    margin-top: 25px;
    border: 3px solid yellow;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.3em;
}

