.container_ex {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.box { 
    height: 70px;
    background-color: skyblue;
    color: white;
    text-align: center;
    font-size: 30px;
}

.item-13 {
    width: 100%;
}

.item-2 {
    height: 150px;
    width: 200px;
}

