.container {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: repeat(4, 60px);
    padding: 20px;
}

.cell {
    border: 1px solid black;
}



